<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            background-color: lightslategray;
            color: white;
            padding: 0 30px;
        }
        p {
            font-size: 20px;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Заголовок текста</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatum nisi explicabo sit vitae alias officia
        aperiam! Molestias consequatur, dolor sit eveniet inventore deleniti autem, nihil magni assumenda quisquam
        commodi tempore aliquam at soluta iusto voluptatem placeat? Officia aliquid explicabo, impedit quam
        exercitationem sit commodi quidem voluptas ullam praesentium, asperiores recusandae dolorum iusto totam nesciunt
        fuga, laboriosam voluptatibus blanditiis. Qui modi numquam, excepturi suscipit incidunt non maiores sit magni
        harum blanditiis eum at rem ex enim nisi pariatur quae nemo earum natus facilis sapiente explicabo beatae animi
        sint. Velit libero ducimus eos nobis! Reiciendis eligendi velit eius maiores, veritatis asperiores temporibus
        deleniti quaerat reprehenderit facilis odit doloremque, explicabo qui similique impedit quam, cumque nobis non
        excepturi facere quia maxime quos ullam rem? Provident vel, nobis sit quos quasi atque illum ad aliquid tempore
        quaerat repellendus, distinctio, reiciendis alias. Aliquid tenetur enim repellendus architecto minima iste ullam
        reprehenderit iusto est qui, ratione esse eius, beatae deleniti quae. Nobis nostrum nihil tempora sequi
        voluptatem deserunt quibusdam nesciunt eligendi consectetur! Totam dolorum laborum enim accusamus quas
        distinctio nemo voluptatum earum explicabo, mollitia ipsum sunt ea deleniti iste adipisci quasi, nulla,
        perspiciatis dignissimos est praesentium dolores aliquid! Harum doloribus id maiores voluptatem quibusdam
        eveniet!
    </p>
</body>

</html>